.list-container {
    /* : 100%; */
    display: grid;
    /* text-align: center; */
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 20px;  
    grid-template-columns: 50px 1fr 2fr 200px;
    
}

.list-header {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.list-item {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}
.btns{
    background-color: #df1111;
    width: 50%;
    padding: 6px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;

}
button:hover{
    background-color: rgb(16, 99, 27);
}

.update-btns{
    background-color: green;
    width: 50%;
    padding: 6px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 16px;
    padding-right: 16px;

}
.update-btns:hover{
    background-color: rgb(17, 97, 17);
}